<!-- /snippets/collection-list-item.liquid -->

{% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

<div class="bespoke-cl">

  <a href="{{ collection.url }}">

    {% if collection.image %}

    <img src="{{ collection.image | img_url: 'grande' }}" alt="{{ collection_title }}">

    {% endif %}

    <h2>

      {{ collection_title }}

    </h2>

  </a>

</div>
